<div class="col-xs-4 image" data-file-id="{{id}}">
    <div class="image-holder" style="background-image: url('{{thumbnail}}');"></div>
    <div class="image-title">
        <p>
            {{name}}
        </p>
    </div>
</div>
